.custome-card {
    height: 178px;
}
.hover-card:hover {
        text-decoration: none;


}

.hover-card .custome-card {
    box-shadow: 0px .5px 5px #00000000;
    transition: all .5s;
}
.hover-card:hover .custome-card {
    box-shadow: 0px .5px 5px #000000;
    transition: all .5s;

}
.hover-card p {
    height: 73px;
    overflow: hidden;
}
.fath {
    margin-right: 15px;

}
.chil {
    padding-left: 0;
}

@media (max-width: 740px) {
    .hover-card {
        margin: 0 auto;
    }
    .chilll {
    padding-right: 0;
    margin: 0 15px;
}
}